CREATE TABLE [dbo].[Points](
	[Id] [int] NOT NULL identity(1,1),
	[Number] varchar(20) NULL,
	[PolygonId] [int] NULL,
	[Easting] real NULL,
	[Northing] real NULL,
	[RL] real NULL,
 CONSTRAINT [PK_Points] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Points]  WITH CHECK ADD  CONSTRAINT [FK_Points_Polygons] FOREIGN KEY([PolygonId])
REFERENCES [dbo].[Polygons] ([Id])
GO
ALTER TABLE [dbo].[Points] CHECK CONSTRAINT [FK_Points_Polygons]
GO
