# User-specific files
*.suo
*.user
*.sln.docstates
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# NuGet Packages Directory
**/packages/*

# Enable "build/" folder in the NuGet Packages folder since
# NuGet packages use it for MSBuild targets.
# This line needs to be after the ignore of the build folder
# (and the packages folder if the line above has been uncommented)
!packages/build/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm

# Rec4 stuff we don't need to Version
**/*.[Cc]ache
Test/Web/Cache/*
**/Debug/*
**/Database.dbmdl
/Test/Database/Database.jfm
/Test/Web/images/reports/*-[0-9]*.thumb.png
/Test/Web/Snowden.Reconcilor.Bhpbio.Web.log
/Test/Web/js/jquery.js
Test/Reports/*.rdl.data
Test/Database/Database.refactorlog
