<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSRSUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <SSRSUpload.Properties.Settings>
            <setting name="SSRSUpload_ReportService2010_ReportingService2010" serializeAs="String">
                <value>http://localhost:80/ReportServer_SQL2008R2/ReportService2010.asmx</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>C:\Dev\Reconcilor_BHPBIO_DG\Branch-3.1.0.0\Test\Reports</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>/Test</value>
            </setting>
        </SSRSUpload.Properties.Settings>
    </applicationSettings>
</configuration>
