<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Engine" type="Snowden.Common.Engine.Configuration.Engine, Snowden.Common.Engine" />
  </configSections>
  <Engine startupDelaySeconds="0" agentErrorRetryDelaySeconds="120">
    <Agents>

      <!--
      These are examples of agents with and without configuration settings.
      <Agent instanceName="Test1" agentType="Test1Type" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="testsetting1" value="testvalue1"/>
          <Setting name="testsetting2" value="testvalue2"/>
        </Settings>
      </Agent>
      <Agent instanceName="Test2" agentType="Test2Type" stopTimeoutSeconds="45"/>
      -->

		<!--<Agent instanceName="ReconcilorImports" agentType="Import" stopTimeoutSeconds="30">
			<Settings>
				<Setting name="PollingIntervalSeconds" value="30" />
				<Setting name="ImportPath" value="C:\Projects\Snowden\Source\Reconcilor_BHPBIO\Branch-2.3.0.0\Test\Assembly\Snowden.Reconcilor.Bhpbio.Import\bin\x86\Debug\Snowden.Reconcilor.Bhpbio.Import.exe" />
				<Setting name="DatabaseKey" value="Main" />
				<Setting name="DatabaseUser" value="ReconcilorImport" />
			</Settings>
		</Agent>-->

		<Agent instanceName="DataSeriesProcessing" agentType="DataSeriesProcessing" stopTimeoutSeconds="30">
			<Settings>
				<Setting name="PollingIntervalSeconds" value="30" />
				<Setting name="DatabaseKey" value="Main" />
				<Setting name="DatabaseUser" value="ReconcilorUI" />
				<Setting name="AuditTypeGroupName" value="Data Series Processing" />
        <Setting name="RecalcHistoryLookbackMinutes" value="10080"/>
			</Settings>
		</Agent>


      <!--<Agent instanceName="BulkApproval" agentType="BulkApproval" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="PollingIntervalSeconds" value="5" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorUI" />
        </Settings>
      </Agent>--> 
      
      <!--<Agent instanceName="ReconcilorNotifications" agentType="Notification" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="PollingIntervalMinutes" value="1" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorUI" />
        </Settings>
      </Agent>-->
      <!--<Agent instanceName="Purge" agentType="Purge" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="TimeFrom" value="08:00" />
          <Setting name="TimeTo" value="21:30" />
          <Setting name="PollingIntervalMinutes" value="1" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorUI" />
        </Settings>
      </Agent>-->
      
      <!--<Agent instanceName="EnqueueAgent" agentType="EnqueueAgent" stopTimeoutSeconds="30"></Agent>-->
      
      <!--<Agent instanceName="ReconcilorHaulage" agentType="Haulage" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="PollingIntervalMinutes" value="1" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorRecalc" />
        </Settings>
      </Agent>-->
      
      <!--<Agent instanceName="RecalcL1" agentType="RecalcL1" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="PollingIntervalSeconds" value="5" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorRecalc" />
        </Settings>
      </Agent>-->
      <!--<Agent instanceName="RecalcL2" agentType="RecalcL2" stopTimeoutSeconds="30">
        <Settings>
          <Setting name="PollingIntervalSeconds" value="5" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorRecalc" />
        </Settings>
      </Agent>

      <Agent instanceName="ImportChangedDataQueue" agentType="ImportChangedDataQueue" stopTimeoutSeconds="60">
        <Settings>
          <Setting name="MinWaitRetryValidationFailureMinutes" value="720" />
          <Setting name="PollingIntervalMinutes" value="5" />
          <Setting name="ChangedDataRetentionDays" value="120" />
          <Setting name="MaxChangedDataLookbackMinutes" value="1728" />
          <Setting name="MinChangedDataLookbackMinutes" value="1" />
          <Setting name="DatabaseKey" value="Main" />
          <Setting name="DatabaseUser" value="ReconcilorRecalc" />
        </Settings>
      </Agent>
-->
    </Agents>
  </Engine>
  <appSettings>
    <!-- The Dependency Factories class allows in-place inheritance overriding -->
    <add key="coreDependencyFactories" value="Snowden.Reconcilor.Bhpbio.Extensibility.DependencyFactories, Snowden.Reconcilor.Bhpbio" />
    <add key="dependencyFactories" value="Snowden.Reconcilor.Bhpbio.Extensibility.EngineDependencyFactories, Snowden.Reconcilor.Bhpbio" />

    <!-- specifies the path to the shared product configuration file -->
    <add key="ProductConfigurationPath" value="..\..\..\..\ProductConfiguration.xml" />
    
    <!-- specifies the key and target user to use for the database settings -->
    <add key="ManagementDatabaseKey" value="Main" />
    <add key="ManagementDatabaseUser" value="ReconcilorRecalc" />
  </appSettings>
</configuration>


