<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReconcilorBhpbio.StagingTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ReconcilorBhpbio.StagingTest.Properties.Settings.ReconcilorBhpbioV64ConnectionString"
      connectionString="Data Source=RECONCILOR2\SQL2005;Initial Catalog=ReconcilorBhpbioV64;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <applicationSettings>
    <ReconcilorBhpbio.StagingTest.Properties.Settings>
      <setting name="MessageListPath" serializeAs="String">
        <value>C:\Source\Data\message.list.txt</value>
      </setting>
    </ReconcilorBhpbio.StagingTest.Properties.Settings>
  </applicationSettings>
</configuration>