<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataStaging.IntegrationTestConsole.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <applicationSettings>
    
    <DataStaging.IntegrationTestConsole.Settings>
      <setting name="MessageListPath" serializeAs="String">
        <value>.\examplemessage.list.txt</value>
      </setting>
      <setting name="ProductionConfigurationPath" serializeAs="String">
        <value>..\..\..\..\ProductConfiguration.xml</value>
      </setting>
      <setting name="DatabaseKey" serializeAs="String">
        <value>Main</value>
      </setting>
      <setting name="ProductUser" serializeAs="String">
        <value>ReconcilorUI</value>
      </setting>
      <setting name="StringReplaceSearchValues" serializeAs="String">
        <value>&quot;http://www.snowden.com/Blastholes/v1.0&quot;|BlockOutAndBlastedEvent |BlockOutAndBlastedEvent&gt;</value>
      </setting>
      <setting name="StringReplaceReplaceValues" serializeAs="String">
        <value>&quot;&quot;|BlockOutAndBlastedEventType |BlockOutAndBlastedEventType&gt;</value>
      </setting>
      <setting name="MessageHandlerType" serializeAs="String">
        <value>Snowden.Reconcilor.Bhpbio.DataStaging.MessageHandlers.BlockoutAndBlastedEventHandler, Snowden.Reconcilor.Bhpbio.DataStaging</value>
      </setting>
    </DataStaging.IntegrationTestConsole.Settings>
    
  </applicationSettings>
</configuration>